# Assignment # 05

### Answer # 01:

In [38]:
employees_record = [
    ("Shahzaib Ali", 12356, "HR"),
    ("Ayesha", 4564, "Finance"),
    ("Rayan", 87985, "IT")
]

print(f"Name: {employees_record[0][0]}, ID: {employees_record[0][1]}, Department: {employees_record[0][2]}")
print(f"Name: {employees_record[1][0]}, ID: {employees_record[1][1]}, Department: {employees_record[1][2]}")
print(f"Name: {employees_record[2][0]}, ID: {employees_record[2][1]}, Department: {employees_record[2][2]}")

Name: Shahzaib Ali, ID: 12356, Department: HR
Name: Ayesha, ID: 4564, Department: Finance
Name: Rayan, ID: 87985, Department: IT

### Answer # 02:

In [41]:
inventory = [
    (101, "Laptop", 50),
    (102, "Smartphone", 200),
    (103, "Headphones", 150)
]

print(f"Item ID: {inventory[0][0]}, Description: {inventory[0][1]}, Quantity: {inventory[0][2]}")
print(f"Item ID: {inventory[1][0]}, Description: {inventory[1][1]}, Quantity: {inventory[1][2]}")
print(f"Item ID: {inventory[2][0]}, Description: {inventory[2][1]}, Quantity: {inventory[2][2]}")

Item ID: 101, Description: Laptop, Quantity: 50
Item ID: 102, Description: Smartphone, Quantity: 200
Item ID: 103, Description: Headphones, Quantity: 150

### Answer # 03:

In [46]:
scheduled_events = [
    ("2024-08-20", "10:00 AM"),  
    ("2024-08-21", "02:00 PM"),  
    ("2024-08-22", "09:30 AM")   
]

print(f"Date: {scheduled_events[0][0]}, Time: {scheduled_events[0][1]}")
print(f"Date: {scheduled_events[1][0]}, Time: {scheduled_events[1][1]}")
print(f"Date: {scheduled_events[2][0]}, Time: {scheduled_events[2][1]}")

Date: 2024-08-20, Time: 10:00 AM
Date: 2024-08-21, Time: 02:00 PM
Date: 2024-08-22, Time: 09:30 AM

### Answer # 04:

In [49]:
company_employees = {
    "HR": {
        101: {"name": "Shahzaib Ali", "position": "HR Manager"},
        102: {"name": "Ayesha Khan", "position": "Recruiter"}
    },
    "Finance": {
        201: {"name": "Rayan Malik", "position": "Finance Manager"},
        202: {"name": "Sara Ahmed", "position": "Accountant"}
    },
    "IT": {
        301: {"name": "Zain Shah", "position": "IT Support Specialist"},
        302: {"name": "Amna Farooq", "position": "Software Engineer"}
    }
}

print(f"HR Department, Employee ID 101: {company_employees['HR'][101]}")
print(f"HR Department, Employee ID 102: {company_employees['HR'][102]}")

print(f"Finance Department, Employee ID 201: {company_employees['Finance'][201]}")
print(f"Finance Department, Employee ID 202: {company_employees['Finance'][202]}")

print(f"IT Department, Employee ID 301: {company_employees['IT'][301]}")
print(f"IT Department, Employee ID 302: {company_employees['IT'][302]}")

HR Department, Employee ID 101: {'name': 'Shahzaib Ali', 'position': 'HR Manager'}
HR Department, Employee ID 102: {'name': 'Ayesha Khan', 'position': 'Recruiter'}
Finance Department, Employee ID 201: {'name': 'Rayan Malik', 'position': 'Finance Manager'}
Finance Department, Employee ID 202: {'name': 'Sara Ahmed', 'position': 'Accountant'}
IT Department, Employee ID 301: {'name': 'Zain Shah', 'position': 'IT Support Specialist'}
IT Department, Employee ID 302: {'name': 'Amna Farooq', 'position': 'Software Engineer'}

### Answer # 05:

In [52]:
student_scores = {
    "Alice": {
        "Math": 95,
        "English": 88,
        "Science": 92
    },
    "Bob": {
        "Math": 78,
        "English": 82,
        "Science": 85
    },
    "Charlie": {
        "Math": 89,
        "English": 91,
        "Science": 87
    }
}

def get_student_scores(name):
    if name == "Alice":
        return student_scores["Alice"]
    elif name == "Bob":
        return student_scores["Bob"]
    elif name == "Charlie":
        return student_scores["Charlie"]
    else:
        return "Student not found"

alice_scores = get_student_scores("Alice")
print(f"Alice's Scores: {alice_scores}")

bob_scores = get_student_scores("Bob")
print(f"Bob's Scores: {bob_scores}")

charlie_scores = get_student_scores("Charlie")
print(f"Charlie's Scores: {charlie_scores}")

non_existent_scores = get_student_scores("David")
print(f"David's Scores: {non_existent_scores}")

Alice's Scores: {'Math': 95, 'English': 88, 'Science': 92}
Bob's Scores: {'Math': 78, 'English': 82, 'Science': 85}
Charlie's Scores: {'Math': 89, 'English': 91, 'Science': 87}
David's Scores: Student not found

### Answer # 06:

In [55]:
projects = {
    "Project A": [
        "Task 1: Research",
        "Task 2: Design",
        "Task 3: Development"
    ],
    "Project B": [
        "Task 1: Planning",
        "Task 2: Implementation",
        "Task 3: Testing"
    ],
    "Project C": [
        "Task 1: Setup",
        "Task 2: Execution",
        "Task 3: Review"
    ]
}

def get_project_tasks(project_name):
    return projects.get(project_name, "Project not found")

project_a_tasks = get_project_tasks("Project A")
print(f"Tasks for Project A: {project_a_tasks}")

project_b_tasks = get_project_tasks("Project B")
print(f"Tasks for Project B: {project_b_tasks}")

project_c_tasks = get_project_tasks("Project C")
print(f"Tasks for Project C: {project_c_tasks}")

non_existent_project_tasks = get_project_tasks("Project X")
print(f"Tasks for Project X: {non_existent_project_tasks}")

Tasks for Project A: ['Task 1: Research', 'Task 2: Design', 'Task 3: Development']
Tasks for Project B: ['Task 1: Planning', 'Task 2: Implementation', 'Task 3: Testing']
Tasks for Project C: ['Task 1: Setup', 'Task 2: Execution', 'Task 3: Review']
Tasks for Project X: Project not found

### Answer # 07:

In [58]:
training_program = {
    "Course 1: Python Programming": {
        "Module 1: Introduction to Python": "Basics of Python, syntax, and environment setup.",
        "Module 2: Data Structures": "Lists, tuples, dictionaries, and sets.",
        "Module 3: Functions": "Defining and using functions, scope, and lambda functions."
    },
    "Course 2: Web Development": {
        "Module 1: HTML & CSS": "Basics of HTML and CSS for web design.",
        "Module 2: JavaScript": "JavaScript syntax, DOM manipulation, and event handling.",
        "Module 3: Backend Development": "Introduction to server-side programming with Node.js."
    },
    "Course 3: Data Science": {
        "Module 1: Data Analysis": "Using libraries like Pandas for data manipulation and analysis.",
        "Module 2: Data Visualization": "Creating visualizations with Matplotlib and Seaborn.",
        "Module 3: Machine Learning": "Introduction to machine learning algorithms and their applications."
    }
}

def get_module_details(course_name, module_name):
    course = training_program.get(course_name)
    if course:
        return course.get(module_name, "Module not found")
    return "Course not found"

module_details_1 = get_module_details("Course 1: Python Programming", "Module 1: Introduction to Python")
print(f"Details of Module 1 in Python Programming: {module_details_1}")

module_details_2 = get_module_details("Course 2: Web Development", "Module 2: JavaScript")
print(f"Details of Module 2 in Web Development: {module_details_2}")

module_details_3 = get_module_details("Course 3: Data Science", "Module 3: Machine Learning")
print(f"Details of Module 3 in Data Science: {module_details_3}")

module_details_4 = get_module_details("Course 1: Python Programming", "Module 4: Advanced Python")
print(f"Details of Module 4 in Python Programming: {module_details_4}")

Details of Module 1 in Python Programming: Basics of Python, syntax, and environment setup.
Details of Module 2 in Web Development: JavaScript syntax, DOM manipulation, and event handling.
Details of Module 3 in Data Science: Introduction to machine learning algorithms and their applications.
Details of Module 4 in Python Programming: Module not found

### Answer # 08:

In [61]:
products = [
    ("Laptop", 1200),
    ("Mouse", 25),
    ("Keyboard", 75),
    ("Headphones", 150),
    ("Monitor", 300)
]

price_threshold = 100

affordable_products = [name for name, price in products if price < price_threshold]

print(f"Products below ${price_threshold}: {affordable_products}")

Products below $100: ['Mouse', 'Keyboard']